input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.custom-file-input:lang(en)~.custom-file-label::after{
    content: "瀏覽";
}
